@import "./config";
@import "./menu";
* {
  box-sizing: border-box;
}
body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
//heading
h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
  //same as doing h1 .lg-heading {} in regular CSS
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: fixed; //always show at top
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;
      // only does for icons class
      &:hover {
        color: $secondary-color;
        @include easeOut(); // use mixin easeout
      }
    }
  }
  &#home {
    overflow: hidden; // no scroll bar
    h1 {
      margin-top: 20vh; // 20 % of view port
    }
  }
}
.about-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-column-gap: 1rem;

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    grid-gap: 1rem;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 5);
  color: set-text-color($primary-color);
  height: 60px;
}
@import "./responsiveness";
